html{
    margin:0;
    padding:0;
    background:linear-gradient(160deg,rgb(217, 148, 20),rgb(231, 105, 2));
  
}
body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    height:500px; 
    width:400px;
    background: rgb(60, 3, 110);
    border:1px solid red;
    border-radius:10px;
   
}
.screen{
    width:370px;
    height:100px;
    margin:15px;
    background:wheat;
    border:1px solid blue;
}
.btn-layout{
    height:350px;
    width:370px;
    margin:15px;
    border:1px solid red;
    display:flex;
    flex-flow:row-wrap;
}
.essential-btn{
    height:330px;
    width:230px;
    border:1px solid red;
    margin:10px; 
  
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.essential{
    height:60px;
    width:230px;
    border:1px solid red;
    margin:0px;
    display:flex;
    flex-flow: row-wrap;    
}
#clear,#Allclear,#del{
    flex-grow: 1;
    height:60px;
    width:60px;
    border:1px solid white;
    color:white;
    background: orange;
    display:flex;
    flex-flow:row wrap;
    justify-content: center; 
    align-items: center;
    font-size: larger;
    font-weight: 500;
    border-radius: 3px;
}
#del{
    color:red;
}

.nums{
    height:260px;
    width:230px;
    margin:10px 0px 0px 0px;
    border:1px solid white;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
   
}
#dec,#exp,div[id|="num"]{
    height:62px;
    width:60px;
    margin:0px;
    border:1px solid black;
    font-size: large;
    font-weight:300;
    border-radius: 3px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(221, 218, 67);
    color:rgb(15, 14, 14);
    flex-grow:1;
}
#exp{
    color:green;
}
.operaters{
    display:inline-block;
    height:330px;
    width:110px;
    margin:10px 10px 10px 0;
    border:1px solid red;

}
div[id|="op"]
{
    height:45px;
    width:105px;
    margin:0px;
    border:1px solid black;
    border-radius: 3px;
    font-weight: bold;
    font-size: large;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 135, 125);
    color:rgb(12, 10, 10);
} 
/* #num-0{
    width:220px;
} */
#op-1{
    margin-top: 0px;
}
.screen{
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 2em;
}